@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Jesteś gruby?</p>
    <p>Wyglądasz jak świnia?</p>
    <p>Męczysz się od leżenia?</p>
    <p>Nikt Cię nie lubi?</p>
    <p>Mamy dla Ciebie rozwiązanie</p>
    <p>Przestań wpierdlać</p>
    <p>Sprubój już dziś a my Ci w tym pomożemy!</p>
</div>
