@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Strona główna";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <a asp-controller="User" asp-action="Index">Panel użytkownika</a>
    </div>

}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Jesteś gruby?</p>
        <p>Wyglądasz jak świnia?</p>
        <p>Męczysz się od leżenia?</p>
        <p>Nikt Cię nie lubi?</p>
        <p>Mamy dla Ciebie rozwiązanie</p>
        <p>Przestań wpierdlać</p>
        <p>Sprubój już dziś a my Ci w tym pomożemy!</p>
    </div>
}

