@model DietApp.Models.Meal

@{
    ViewData["Title"] = "AddMeal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddMeal</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMeal" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserId" type="hidden" class="form-control" value="@ViewBag.UserId" />
            <input asp-for="DailyConsumptionId" type="hidden" class="form-control" value="@ViewBag.DailyConsumptionId" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Products"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Weight" type="number" class="form-control" />
                    <span class="input-group-text"> g </span>
                </div>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <span asp-validation-for="UserId" class="text-danger"></span>
            <span asp-validation-for="DailyConsumptionId" class="text-danger"></span>
            <span asp-validation-for="MealId" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

